@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

* {
  margin: 0;
  padding: 0;
}

div {
  position: relative;
}

body {
  background: #fff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Do Hyeon", sans-serif;
}

#quote-box {
  background: #000;
  padding: 5em;
  width: 60vw;
  border-radius: 40px;
  #text {
    text-align: left;
    font-size: 2em;
  }
  .author {
    text-align: right;
    font-size: 1.25em;
    font-style: italic;
    padding-top: 15px;
  }
  #buttons {
    margin: auto;
    display: block;
    padding-top: 10px;
    .button {
      color: #000;
      background: #fff;
      cursor: pointer;
      font-size: 1.5em;
      padding: 6px 15px;
      border-radius: 10px;
      &:hover {
        transition: 0.5s ease-in-out;
        transform: scale(1.1);
      }
      &#new-quote {
        text-align: center;
        float: left;
      }
      &#tweet-quote {
        text-align: center;
        float: right;
      }
    }
  }
}
#footer {
  font-size: 1em;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: right;
  background: #fff;
  color: #000;
  padding-right: 10px;
}
